<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HOLIDAYS</title>
</head>
<body style="width: 75%;">
  <h1>List of Holiday Requests</h1>
  <% if (holidayRequests.length === 0) { %>
    <p>No holiday requests available.</p>
  <% } else { %>
    <table style="float: left;">
      <thead>
        <tr>
          <th>Employee Name</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Status</th>
          <% if (employee.role === 'admin') { %>
            <th>Actions</th>
          <% } %>
        </tr>
      </thead>
      <tbody>
        <% holidayRequests.forEach(request => { %>
            <tr>
            <td><%= employee.name %></td>
            <td><%= request.startDate %></td>
            <td><%= request.endDate %></td>
            <td><%= request.status %></td>
            <td>
              <% if (request.status === 'pending' && employee.role === 'admin') { %>
                <form action="/approve-request/<%=request.id%>" method="POST">
                  <button type="submit">Approve</button>
                </form>
                <form action="/reject-request/<%=request.id %>" method="POST">
                  <button type="submit">Reject</button>
                </form>
                <form action="/update-request/<%=request.id %>" method="GET">
                  <button type="submit">Update</button>
                </form>
              <% }  if (access_token) { %>
              <form action="/delete-request/<%=request.id%>" method="POST">
                  <button type="submit">Delete</button>
              </form>
              <% } %>
            </td>
          </tr>
        <% }); %>
      </tbody>
    <% } %>
    <a href="/">&larr;Go back</a>
  </table>
</body>
</html>